body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  position: absolute;
  top:0;
  left:0;
  z-index:-99;
}
.login-div {
  max-width: 530px;
  padding: 55px;
  border-radius: 15px;
  color:white;
  background: rgba(8,8,8,0.7);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.logo {
  background-image: url("profile2.jpg");
  background-size: cover;
  background-position: left 10px bottom -15px;
  width:300px;
  height:300px;
  border-radius: 50%;
  margin:0 auto;
}

#typed {
  font-size: 20px;
}

@media (max-width: 650px) and (min-width: 400px) {
  .login-div {
    padding: 1.5rem;
  }

  .logo {
    width:210px;
    height:210px;
  }

  #typed {
    font-size: 1rem;
  }
}

@media (max-width: 399px) {
  .login-div {
    padding: 1rem;
    max-width: 250px;
    max-height: 500px;
  }
  .logo {
    width:150px;
    height:150px;
  }
  #typed {
    font-size: 1rem;
  }
}