html {
    overflow: hidden;
}
body {
    margin: 0;
    font-size: 2rem;
    color: white;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar span {
    z-index: -2;
}

.parallax-wrapper {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    z-index: 2;
    transform-style: preserve-3d;
}

#techup-img {
    width: 70%;
    height: 70%;
    border-radius: 1rem;
    zoom: 1;
}

.parallax-wrapper::before {
    content: "";
    width: 100vw;
    height: 100vh;
    margin-top: -3rem;
    top: 0;
    left: 0;
    background-image: url('../assets/galaxy1.jpg');
    background-size: cover;
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}

.regular-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    background-image: url('../assets/galaxy2.jpg');
    z-index: 2;
    position: relative;

}

.content {
    margin: 0 auto;
    padding: 50px;
    width: 60%;
    background: rgba(8,8,8,0.7);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

h1 {
    z-index: 3;
}